.director-card {
  align-items: center;
  text-align: center;
  background-color: #333;
  color: #fff;

  .card-content {
    font-family: inherit;
    color: #fff;

    .subtitle {
      color: #fff;
      padding: 5px;
    }
  }
}

.close-button {
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;


  .close-icon {
    transition: 1s ease-in-out;


    :hover {
      transform: rotate(180deg);
    }
  }
}