.mat-toolbar {
  position: sticky;
  background-color: rgba(0, 0, 0, .75);
  color: #e50914;
  padding: 10px;
  height: 80px;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: xxx-large;
}

@media screen and (max-width: 369px) {
  .logo {
    font-size: xx-large;
  }
}