.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 75px 0px 60px;
}

.list-item {
  background-color: rgba(0, 0, 0, .65);
  margin: 25px;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  width: 260px;
  align-items: center;
  text-align: center;
}

.header {
  justify-content: center;
  padding-bottom: 5px;
}

.title {
  padding: 10px;
  font-style: italic;
}

.image {
  width: 225px;
  border-radius: 15px;
}

.footer {
  justify-content: space-between;
}

button {
  background-color: inherit;
  color: inherit;
  font-weight: 600;
  border: none;
  padding-inline: 10px;
}

:hover {
  cursor: pointer;
  font-size: 16px;
}


.mat-icon {
  color: #e50914;
}

.mat-icon:hover {
  font-size: 26px;
}