<div class="movie-list">
  <mat-card class="list-item" *ngFor="let movie of movies; let i=index;">
    <mat-card-header class="header">
      <mat-card-title class="title">{{movie.title}}</mat-card-title>
    </mat-card-header>
    <mat-dialog-content>
      <img class="image" src={{movie.imagePath}} alt={{movie.title}} />
    </mat-dialog-content>
    <mat-card-footer>
      <mat-card-actions class="footer">
        <button>Synopsis</button>
        <button (click)="openDirectorDialog(movie.director.name,
          movie.director.bio,movie.director.birthday)">Director</button>
        <button (click)="openGenreDialog(movie.genre.name, movie.genre.description)">Genre</button>
        <mat-icon>favorite_border</mat-icon>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>
</div>