.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0px 40px;
  width: max-content;
}

.list-item {
  background-color: rgba(0, 0, 0, .65);
  margin: 25px;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  width: 275px;
}

.header {
  justify-content: center;
  padding-bottom: 5px;
}

.title {
  padding: 10px;
  font-style: italic;
}

.image {
  width: 100%;
  border-radius: 20px;
}

.footer {
  justify-content: space-between;

  button {
    background-color: inherit;
    color: inherit;
    font-weight: 600;
    border: none;
  }

  :hover {
    cursor: pointer;
    font-size: 16px;
  }
}