<div class="registration-view">
  <mat-card class="registration-form">
    <mat-card-header class="header">
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>

        <div class="input">
          <mat-form-field>
            <input matInput [(ngModel)]="userData.username" placeholder="Username" type="text" name="Username" required
              minlength="6" #username="ngModel" />
          </mat-form-field>

          <div class="error-message" *ngIf="username.invalid">
            <div *ngIf="username.errors?.['required']">
              A Username is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
              Your Username must be at least 6 characters long.
            </div>
          </div>
          <mat-form-field>
            <input matInput [(ngModel)]="userData.password" placeholder="Password" type="password" name="Password"
              required minlength="6" #password="ngModel" />
          </mat-form-field>

          <div class="error-message" *ngIf="password.invalid">
            <div *ngIf="password.errors?.['required']">
              A Password is required.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Your Password must be at least 6 characters long.
            </div>
          </div>

          <mat-form-field>
            <input matInput [(ngModel)]="userData.email" placeholder="Email" type="email" name="Email" required
              #email="ngModel" email="true" />
          </mat-form-field>

          <div class="error-message" *ngIf="email.invalid">
            <div *ngIf="email.errors?.['required']">
              Your Email address is required.
            </div>
            <div *ngIf="email.errors?.['email']">
              Please enter a valid email.
            </div>
          </div>

          <mat-form-field>
            <input matInput [(ngModel)]="userData.birthday" placeholder="Birthday" type="date" name="Birthday" />
          </mat-form-field>
        </div>

      </form>
      <mat-card-actions>
        <button class="button" mat-raised-button (click)="registerUser()" color="primary">
          Sign Up
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>